@import './statics.scss';

// ============================================
// HEADER - Financement Sourire
// ============================================

.site-header {
  @include flex-between;
  background-color: $color-grey-light;
  padding: calc(35vw / 19.2) calc(140vw / 19.2) 8px;
  position: sticky;
  top: 0;
  z-index: 1000;

  // ---- LOGO ----
  .site-branding {
    flex-shrink: 0;
    img{
      max-width:calc(283vw / 19.2);
      height: auto;
    }
  }

  // ---- NAVIGATION ----
  .main-navigation {
    flex: 1;
    display: flex;
    justify-content: center;

    .menu-toggle { display: none; }

    ul {
      @include flex-center;
      list-style: none;
      background-color: $color-secondary;
      border-radius: 50px;
      padding: calc(21vw / 19.2) calc(10vw / 19.2);
      margin: 0;

      li {
        a {
          color: $color-white;
          text-transform: uppercase;
          padding: 6px 9px;
          border-radius: 50px;
          transition: background-color 0.2s ease;
          white-space: nowrap;
          font-weight: 500;
          font-family: 'Inter Medium';
          font-size:calc(14vw / 19.2);

          &:hover,
          &:focus {
            background-color: rgba(255,255,255,0.2);
          }
        }

        &.current-menu-item > a {
          background-color: rgba(255,255,255,0.25);
        }
      }
    }
  }

  // ---- BOUTONS À DROITE ----
  .header-actions {
    @include flex-center;
    gap: calc(19vw / 19.2);
    flex-shrink: 0;

    .header-phone {
      @include btn-base;
      background-color: $color-primary;
      color: $color-white;
      font-size: calc(18vw / 19.2);
      font-weight: 700;
      font-family: 'Inter Bold';
      padding: calc(19vw / 19.2) calc(37vw / 19.2);
       &:hover {
        background-color: $color-secondary;
        color: $color-white;
      }
    }

    .header-contact {
      @include btn-base;
      background-color: transparent;
      color: $color-text;
      border: 1.5px solid $color-primary;
      font-size: calc(16vw / 19.2);
      font-weight: 700;
      font-family: 'Inter Bold';
     padding: calc(19vw / 19.2) calc(55vw / 19.2);

      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
}

// ============================================
// HEADER MOBILE
// ============================================

@include mobile {
  .site-header {
    flex-wrap: wrap;
    height: auto;
    padding: 15px 20px!important;
    gap: 12px;

    .site-branding {
      a img { height: 55px; width:auto; }
    }

    // Boutons visibles en haut à droite sur mobile
    .header-actions {
     display: none!important;
    }

    // Menu hamburger mobile
    .main-navigation {
      width: 100%;
      order: 3;
      justify-content: end!important;

      .menu-toggle {
        display: block;
        width: 30%;
        background: $color-secondary;
        color: $color-white;
        border: none;
        padding: 12px;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
      }

      ul {
        display: none;
        flex-direction: column;
        border-radius: 0;
        padding: 10px;
        position: absolute;
        top: 75%; // juste en dessous du bouton
        right: 0;
        width: calc(100% - 28px);
        z-index: 100;
        box-shadow: 0 8px 24px rgba(0,0,0,0.15);

        &.toggled { display: block; }
         li{
          border-bottom: 1px solid white;
          &:last-child{
            border-bottom: none;
          }
         }
        li a {
          display: block;
          text-align: center;
          padding: 14px!important;
          font-size: 16px!important;
        }
      }
    }
  }
}

@include tablet {
  .site-header {
    .site-branding{
      padding-right: 15px;
    }
    .main-navigation ul {
      gap: 2px;
      padding: 8px 5px;
      li a {
        font-size: 11px;
      }
    }

    .header-actions {
      .header-phone,
      .header-contact {
        font-size: 13px;
        padding: 10px;
      }
    }
  }
}

