@import './statics.scss';
@media(max-width:767px){
    .pr-205, .pr-140{
        padding-right: 30px!important;
    }
    .pl-140{
        padding-left: 30px!important;
    }
    .pb-30-mob{
        padding-bottom: 30px!important;
    }
    .pb-30, .pb-35{
        padding-bottom: 25px!important;
    }
    
    .pb-25{
        padding-bottom: 20px!important;
    }
    .error-404__buttons .error-404__btn.btn-primary{
        font-size: 14px!important;
    }
}