// ============================================
// 8. FOOTER
// ============================================
.site-footer {
  background-color: black;
  padding: calc(90vw / 19.2) calc(290vw / 19.2) calc(95vw / 19.2) calc(166vw / 19.2);
 
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
 
  // Nav centré : 2 colonnes + téléphone en dessous
  &__nav {
    text-align: left;
    padding-bottom: calc(10vw / 19.2);
    width:42%;
  }
 
  &__nav-col {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    text-align: left;
     &.first{
        padding-right: calc(65vw / 19.2);
     }
    li {
      margin-bottom: calc(10vw / 19.2);
 
      a {
        font-family: 'Inter';
        font-size: calc(16vw / 19.2);
        color: white;
        text-transform: uppercase;
        line-height: 1.87;
        transition: color 0.2s ease;
 
        &:hover { color: $color-primary; }
      }
    }
  }
 
  // Bouton téléphone centré sous les liens
  &__phone-wrap {
  text-align: left;
    margin-top: calc(20vw / 19.2);
  }
 
  &__phone {
    display: inline-block;
    border: 1.5px solid $color-white;
    border-radius: calc(50vw / 19.2);
    color: $color-white;
    background: transparent;
    font-family: 'Inter Bold';
    font-size: calc(18vw / 19.2);
    padding: calc(17vw / 19.2) calc(40vw / 19.2);
    transition: background-color 0.2s ease, color 0.2s ease;
 
    &:hover {
      background-color: $color-white;
      color: #0D0D0D;
    }
  }
 
  @include mobile {
    padding: 50px 30px;
      &__inner {
      display: block;
    } 
    
    &__logo{
        padding-bottom: 15px;
    }
    &__nav{
        width:100%;
         display: block;
    }
    &__nav-col {
        display: inline-block;
      vertical-align: top;
      width: 48%;
      margin: 0 0 20px;
      text-align: left;
       &.first {
        padding-right: 8px;
      }
 
      li a { font-size: 14px; }
    }
 
    &__phone-wrap {
      margin-top: calc(20vw / 7.5);
    }
 
    &__phone {
      font-size: 14px;
      padding: 14px 30px;
    }
  }
   &__bottom {
      padding: calc(40vw / 19.2) calc(140vw / 19.2);
       display: flex;
       justify-content: space-around;
       align-items: center;
      .site-footer__copyright,
      .site-footer__policy,
      .site-footer__credit {
        display: block;
        color:black;
      }
      a:hover{
        text-decoration: underline;
        color:$color-primary;
      }
      @include mobile {
        padding: 40px;
        display: block;
      }
    }
}